# .env

# PostgreSQL database URI
POSTGRES_DB_URI= "" #example ==> postgres://postgres:1111@localhost:5432/skydd2
PORT= #example ==> 3000
SENDER_EMAIL= #if_you_decide_to_use_nodemailer
SENDER_PASS= #if_you_decide_to_use_nodemailer
BASE_URL="" #example ==> "backend.skydd.com"
FE_BASE_URL="" #example ==> "frontend.skydd.com"

AXAMANSARD_BASE_URL="https://pilot.axamansard.com/newapi/api"
AXAMANSARD_TOKEN_ENDPOINT="tokens"
AXAMANSARD_ENROLLMENT_ENDPOINT="Health/process-enrollment"
AXAMANSARD_API_KEY="3abd4af9-acb6-4fb8-8252-af6282e28081"
AXAMANSARD_API_SECRET="775f89d3-31f8-40f3-8436-d40ad59e5914"
AXAMANSARD_CLIENT_KEY="07cac28a-8323-4b83-b658-09ca37b98e13"

HYGEIA_USERNAME="sterling"
HYGEIA_PASSWORD="111111"
HYGEIA_GRANT_TYPE="password"
HYGEIA_BASE_URL= "https://sandbox.hygeiahmo.com/tpi-ms/api"
HYGEIA_AUTH_URL= "https://sandbox.hygeiahmo.com/tpi-ms/oauth2/token"
HYGEIA_DEACTIVATE_ENROLLMENT_ENDPOINT="https://sandbox.hygeiahmo.com/tpi-ms/deactivateenrollee"
HYGEIA_ENROLLMENT_ENDPOINT="https://sandbox.hygeiahmo.com/tpi-ms/api/registration/retail"

PAYSTACK_TEST_SECRET=""
PAYSTACK_TEST_PUBLIC=""
PAYSTACK_VERIFY_URL="https://api.paystack.co/transaction/verify"
PAYSTACK_PAY_URL="https://api.paystack.co/transaction/initialize"

MAILCHIMP_API_KEY="" #example ==> "8323-4b83-b658"
MAILCHIMP_FROM_EMAIL="" #example ==> "user@domain.com"

NOVU_API_KEY="" #example ==> "9dd8206880e6305a2a66"